$accent-color: #2196F3;
$primary-text-color:#757575;
$title-text-color:#212121;
$primary-white-color:#FFFFFF;
$secondary-black-color:#000000;
$secondary-grey-color:#F5F4FA;
$main-font-style:'Roboto', sans-serif;
$font-size-small:14px;
$font-size-medium:16px;
$font-size-xl:36px;
$duration: 250ms;
$timing-function:cubic-bezier(0.4, 0, 0.2, 1);